[submodule "bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx
[submodule "bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg
